/* 
    Document   : estilo
    Created on : Aug 14, 2013, 4:02:39 PM
    Author     : x4x1
    Description:
        Purpose of the stylesheet follows.
*/

h1, h2, h3, h4, h5, h6{
    margin: 0; padding: 0;
}
span{padding:0;margin:0}
body{
    background-color:#fff;
    color: blue;
    margin: 0;
    padding: 0;
}
header {
    border-bottom: 2px solid #ccc;
    height:40px;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #eeeeee) );
    background:-moz-linear-gradient( center top, #ffffff 5%, #eeeeee 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#eeeeee');
    background-color:#ffc300;
}
.logo{
    height:40px;
    float:left;
    background-image:url(../img/logo.png);
    background-position:5px 5px;
    background-repeat:no-repeat;
}

.logo h1 {
    margin-left:48px
}

.logoDestaque1 {
    display:inline-block;
    color:green
}

.logoDestaque2 {
    display:inline-block;
    text-indent:-5px;
}

section{

}

h1{
    margin:0 10px;
    color:#000;
    font-size:1.4em;
    line-height:1.8em; 
}
h2{
    margin:0 10px;
    color:#000;
    font-size:1.2em;
    line-height:1.6em;                 
}

#main{
    
}

footer{
    font-size:.8em;
    padding:0 10px
}

.palestras{
    position:relative;
    margin:0 10px;
    padding:0;
    display:block;
    /*width:96%;*/
}
.palestras li{
    position:relative;
    margin:2px 0;
    padding:2px 5px;
    list-style:none;
    /*width:100%;*/
    font-size:1.0em;
    line-height:1.4em;
}

.palestra {
    padding:7px;
    clear:both
}

.palestra h3 {
    font-size:.9em
}

.palestra p {
    padding:0;
    margin:0;
    font-size:.7em
}

.bloco-percentual {
    height:24px
}
.bloco-percentual div {
    width:30%;
    margin-left:1%;
    float:right;
    
}
.bloco-percentual span {
    text-align:right;
    vertical-align:middle;
    font-size:.75em
}

.bloco-percentual span.verde {
    /*background-image:url(../img/verde-mini.png)*/
}

.bloco-percentual span.amarelo {
    /*background-image:url(../img/amarelo-mini.png)*/
}

.bloco-percentual span.vermelho {
    /*background-image:url(../img/vermelho-mini.png)*/
}